<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>NEXUS Tree File</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>nex</string>
        <string>nexus</string>
        <string>tre</string>
        <string>tree</string>
        <string>treefile</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Newick Tree File</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>nwk</string>
        <string>newick</string>
        <string>tre</string>
        <string>tree</string>
        <string>treefile</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
